@font-face {
    src: url(./fonts/Inter-4.1/Inter.ttc) format('truetype');
    font-family: 'Inter';
}
@font-face{
    src: url(./fonts/Inter-4.1/web/Inter-Black.woff2) format('woff2');
    font-family: 'Inter Black';
}
@import url(./page.css);
@import url(./header.css);
@import url(./lead.css);
@import url(./intro.css);
@import url(./footer.css);
@media screen and (max-width: 768px){
    .page{
        max-width: 768px;
        min-height: 1742px;
    }
    .lead__title{
        font-size: 75px;
        line-height: 79px;
    }
    .intro{
        margin:80px 10px 0;
    }
    .intro__title{
        font-size: 45px;
        line-height: 49px;
    }
    
}
@media screen and (max-width: 320px) {
    .page{
        max-width: 320px;
        min-height: 1705px;
    }
    .top-icon{
        width:23.69px;
        height: 23.77px;
    }
    .header-text{
        max-width: 188.62px;
        max-height: 11.1px;
    }
    .lead__title{
        font-size: 40px;
        line-height: 44px;
    }
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
    }
    .intro{
        margin: 80px 10px 0;
    }
    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }
    .intro__quote, .intro__quote-author{
        font-size: 24px;
        line-height: 30px;
    }
    .intro__text{
        font-size: 16px;
    }
}